@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  background: hsl(233, 47%, 7%);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background: hsl(244, 38%, 16%);
  border-radius: 4px;
  width: 80%;
  height: 100%;
  margin: 5rem 0;
}

img {
  width: 100%;
  height: 100%;
}
.col-1 {
  position: relative;
}

.col-1::after {
  content: " ";
  background-color: hsl(277, 64%, 61%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1;
  left: 0;
  opacity: 0.6;
}
.col-2 {
  text-align: center;
}

h1,
h3 {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-family: "Inter", sans-serif;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
}
span {
  color: hsl(277, 64%, 61%);
}
.card {
  padding: 2em;
}
.card > p {
  padding-top: 1em;
  line-height: 1.5;
}

.stat-container > div {
  padding-top: 1.5em;
}

@media screen and (min-width: 760px) {
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 11.5rem 0;
  }
  .card > p {
    padding-top: 1.2em;
    text-align: left;
  }

  .col-2 {
    width: 50%;
    text-align: left;
  }
  .card {
    padding: 2rem 4rem 1.5rem 2rem;
  }

  h1 {
    text-align: justify;
  }
  .stat-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .stat-container > div {
    padding-top: 4em;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 985px) {
  .wrapper {
    font-size: 17px;
    margin: 10rem;
  }

  .card {
    padding: 2rem 3rem 1.5rem 2rem;
  }

  .card > p {
    padding-top: 1.5em;
  }
}

@media screen and (min-width: 1115px) {
  .wrapper {
    margin: 9rem 0;
  }
  .card {
    padding: 4rem 7rem 2rem 5rem;
  }
}

@media screen and (min-width: 1158px) {
  .wrapper {
    margin: 6rem 0;
    font-size: 18px;
  }

  .card > p {
    padding-top: 4.5em;
  }

  .card {
    padding: 4.5rem 7.5rem 1.6rem 5.5rem;
  }
}
